# OpenGradient live inference
OG_PRIVATE_KEY=
OG_ENABLE_LIVE_INFERENCE=true
OG_ENABLE_LIVE_LLM=true
OG_LIVE_STRICT=false
OG_RPC_URL=https://ogevmdevnet.opengradient.ai
OG_API_URL=https://sdk-devnet.opengradient.ai
OG_INFERENCE_CONTRACT_ADDRESS=0x8383C9bD7462F12Eb996DD02F78234C0421A6FaE
